<?xml version="1.0"?>
<config>
    <modules>
        <CapacityWebSolutions_ImportProduct>
            <version>1.0</version>
        </CapacityWebSolutions_ImportProduct>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <!-- Override Mage_Catalog_Model_Convert_Adapter_Product -->
                    <convert_adapter_product>CapacityWebSolutions_ImportProduct_Model_Convert_Adapter_Product</convert_adapter_product>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>