<?xml version="1.0"?>
<config>
    <modules>
        <Alfasoft_Print>
            <version>0.1.0</version>
        </Alfasoft_Print>
    </modules>
    <frontend>
        <routers>
            <print>
                <use>standard</use>
                <args>
                    <module>Alfasoft_Print</module>
                    <frontName>print</frontName>
                </args>
            </print>
        </routers>
        <layout>
            <updates>
                <print>
                    <file>print.xml</file>
                </print>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<print>
				<use>admin</use>
				<args>
					<module>Alfasoft_Print</module>
					<frontName>print</frontName>
				</args>
			</print>
        </routers>
    </admin>
    <global>
        <models>
            <print>
                <class>Alfasoft_Print_Model</class>
                <resourceModel>print_mysql4</resourceModel>
            </print>
            <print_mysql4>
                <class>Alfasoft_Print_Model_Mysql4</class>
                <entities>
                    <print>
                        <table>print</table>
                    </print>
                </entities>
            </print_mysql4>
        </models>
        <resources>
            <print_setup>
                <setup>
                    <module>Alfasoft_Print</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </print_setup>
            <print_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </print_write>
            <print_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </print_read>
        </resources>
        <blocks>
            <print>
                <class>Alfasoft_Print_Block</class>
            </print>
        </blocks>
        <helpers>
            <print>
                <class>Alfasoft_Print_Helper</class>
            </print>
        </helpers>
    </global>
</config>