<?xml version="1.0"?>
<config>
    <modules>
        <MagentoIreland_LoadjQuery>
            <version>0.0.9</version>
        </MagentoIreland_LoadjQuery>
    </modules>
    <global>
        <helpers>
            <loadjquery>
                <class>MagentoIreland_LoadjQuery_Helper</class>
            </loadjquery>
        </helpers>
        <resources>
            <loadjquery_setup>
                <setup>
                    <module>MagentoIreland_LoadjQuery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </loadjquery_setup>
            <loadjquery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </loadjquery_write>
            <loadjquery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </loadjquery_read>
        </resources>
    </global>
    <default>
        <loadjquery>
            <general>
                <enabled>0</enabled>
                <enabled_product_view>0</enabled_product_view>
            </general>
        </loadjquery>
    </default>
    <frontend>
        <layout>
            <updates>
                <loadjquery>
                    <file>loadjquery.xml</file>
                </loadjquery>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <loadjquery translate="title" module="loadjquery">
                                            <title>LoadjQuery Section</title>
                                            <sort_order>65</sort_order>
                                        </loadjquery>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
